body{
    background-color: #ffbba8;
}

#app{
    
    /*width: 25%;*/
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#header{
    background-color: #f7b67e;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px black;
    
    
}
#logo{
    background-color: #f7b67e;
    height: 80px;
    right: 80px;
    
    
}
.ms-3{
    background-color: #f7b67e;
    font-size: 3rem;
    text-align:center;
    font-family:cursive;
    }
#nav-botao{
    background-color: #f7b67e ;
    text-align: right; 
    
    
}
.nav-link{
    color:black;
    
}
.card-corpo{
    width: 100%;
    background-color: #f7b67e;
    font-size: 25px;
    box-shadow: 0px 5px 10px black;

}
.postagem{
    font-size: 10px;
    color: black;
}

.card{
   background-color: #ffbba8;
   box-shadow: 0px 5px 10px black; 
}
    
.card-body{
    align-items: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7b67e;
    border: 1px solid black;
    font-size: 20px;
    box-shadow: 0px 5px 10px black; 
    gap:20px;
    margin-bottom: 30px;
    

}
#home-post{
    justify-content: center;
    width: 80%;
    display: flex;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: row;
    font-size: 20px;
    background-color: #f7b67e; 
    box-shadow: 0px 5px 10px black; 
      
}

footer {
    display: flex;
    text-align: center; 
    background-color:#aa786a; 
    color: var(--color-base-text);
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 15vh;
    margin-bottom: -23px;
    font-size: 20px;
  }
  
  .rede-sociais {
    display: flex;
    /*gap: 24px;*/
    position: absolute;
    right: 20px;
    margin-top: 20px;
  }
  
  .rede-sociais img {
    width: 25px;
    height: 25px;
  }
  
  .rede-sociais p {
    display: flexbox;
    padding-left: 20px;
  }
  

  
  
#search-btn{
    display: flex;
    background-color: #1dbbf4;
    color: black;
      
}

/*#cadasstrar-btn{
    background-color: #1dbbf4;
    color: black;
}
#edit-btm{
    background-color: #1dbbf4;
}
#delete-btn{
    background-color: #eeab36;
}
#auth-btn{
    background-color: #6dbcba;
    border: none;
}*/

